{{template "adminHeader" .}}

<!--start: Form-->
<div class="row-fluid sortable">
    <div class="box span12">
    <div class="box-header" data-original-title>
        <h2><i class="halflings-icon edit"></i><span class="break"></span>Add A New Product</h2>
        <div class="box-icon">
            <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
            <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
            <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
        </div>
    </div>
    {{if (ne .Msg.Success "")}}
        <br><br><span class="alert alert-success">{{ .Msg.Success }}</span><br><br>
    {{else if (ne .Msg.Fail "")}}
        <br><br><span class="alert alert-danger">{{ .Msg.Fail }}</span><br><br>
    {{end}}
<div class="box-content">

    <form class="form-horizontal" method="post" action="/add-product" enctype='multipart/form-data'>
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="pro_name">Product Name</label>
                <div class="controls">
                    <input type="text"  id="pro_name" name='name' required=''>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="cat_name">Category (active)</label>
                <div class='controls'>
                    <select id='cat_name' required='' name='category_id'>
                        <option value="">--select--</option>
                        {{range .Categories}}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
            </div>

            <div class='control-group'>
                <label class="control-label" for="brand_name">Brand (active)</label>
                <div class='controls'>
                    <select id='brand_name' required='' name='brand_id'>
                        <option value="">--select--</option>
                        {{range .Brands}}
                            <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="pro_des">Product Description</label>
                <div class="controls">
                    <textarea id="pro_des" rows="3" name='description'></textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="pro_img">Product Image</label>
                <div class="controls">
                    <input type="file"  id="pro_img" name='img' required=''>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="pro_price">Product Price</label>
                <div class="controls">
                    <input type="text"  id="pro_price" name='price' required=''>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="pro_size">Product Size</label>
                <div class="controls">
                    <input type="text"  id="pro_size" name='size'>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="pro_color">Product Color</label>
                <div class="controls">
                    <input type="text"  id="pro_color" name='color'>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="pro_serial">Product Serial</label>
                <div class="controls">
                    {{/*<input type="number"  id="pro_serial" name='product_sl'>*/}}
                    <select type="number" id='pro_serial' required='' name='product_sl'>
                        <<option value="" >--select--</option>
                        {{ range $key := .Product_positions }}
                            <option  typeof="number" value="{{$key}}" >{{$key}}</option>
                        {{end}}
                    </select>
                </div>
            </div>



            <div class="control-group">
                <label class="control-label" for="pro_pub_stat">Publication Status</label>
                <div class="controls">
                    <input type="checkbox" id="pro_pub_stat" name="status" value="1"/>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
            </div>
        </fieldset>
    </form>

</div>
    </div><!--/span-->

</div><!--/row-->
<!--end: Form-->

{{template "adminFooter" .}}