{{template "adminHeader" .}}
<!--start: Table-->
<div class="row-fluid sortable">
    <div class="box span12">
<div class="box-header" data-original-title>
    <h2><i class="halflings-icon user"></i><span class="break"></span>All Products List</h2>
    <div class="box-icon">
        <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
        <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
        <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
    </div>
</div>
    <div class="box-content">
    <div class="" >
        {{if (ne .Msg.Success "")}}
            <br><br><span class="alert alert-success">{{ .Msg.Success }}</span><br><br>
        {{else if (ne .Msg.Fail "")}}
            <br><br><span class="alert alert-danger">{{ .Msg.Fail }}</span><br><br>
        {{end}}
    </div>
    <table class="table table-striped table-bordered bootstrap-datatable datatable">
    <thead style='background-color:lightskyblue'>
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Category Name</th>
        <th>Brand Name</th>
        <th>Product Description</th>
        <th>Product Image</th>
        <th>Product Price (Tk)</th>
        <th>Product Size</th>
        <th>Product Color</th>
        <th>Product Serial</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{range .Products}}
    <tr>
        <td>{{.ID}}</td>
        <td class="center">{{.Name}}</td>
        <td class="center">{{.Category.Name}}</td>
        <td class="center">{{.Brand.Name}}</td>
        <td class="center">{{.Description.String}}</td>
        <td class="center"><img src="/assets/{{.ImgUrl.String}}" style="height:60px;width:60px">
        </td>
        <td class="center">{{.Price}}</td>
        <td class="center">{{.Size.String}}</td>
        <td class="center">{{.Color.String}}</td>
        <td class="center">{{.ProductSL}}</td>
        <td class="center">
            {{if (eq .Status 1)}}

            <span class="label label-success">Active</span>

            {{else if (eq .Status 0)}}

            <span class="label">Inactive</span>

            {{end}}
        </td>

        <td class="center">
            {{if (eq .Status 1)}}
            <a class="btn" href="/make-product-inactive/{{.ID}}">
                <span class="halflings-icon white thumbs-down"></span>
            </a>

            {{else if (eq .Status 0)}}
                <a class="btn" href="/make-product-active/{{.ID}}">
                <span class="halflings-icon white thumbs-up"></span>
            </a>
            {{end}}

            <a class="btn btn-info" href="/edit-product/{{.ID}}">
                <i class="halflings-icon white edit"></i>
            </a>
            <a class="btn btn-danger" href="/delete-product/{{.ID}}" id='delete'>
                <i class="halflings-icon white trash"></i>
            </a>
        </td>
    </tr>
    {{end}}
    </tbody>
    </table>
    </div>
    </div><!--/span-->
</div><!--/row-->
<!--end: Table-->

{{template "adminFooter" .}}